
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Date</h2>
      <ul class="list-group">
        <!-- <app-appareil  *ngFor="let appareil of appareils"
                       [appareilName]="appareil.name"
                       [appareilStatus]="appareil.status"></app-appareil> -->
        <app-appareil  
        [Event]="appareils[numeroDeQuestion].event"
        [Date]="appareils[numeroDeQuestion].date"></app-appareil>
        

      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="questionSuivante()">Date suivante</button>
      <button class="btn btn-danger"
              [disabled]="!isAuth"
              (click)="recommencer()">Recommencer</button>
      <button type="button" class="btn btn-warning" 
      [disabled]="!isAuth"
      (click)="retour()">
        Retour</button>
            
      <h2>{{numeroDeQuestion}}/160</h2>
    </div>
  </div> 
</div>



